.container{
	position: relative;
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
}
.cover_photo{
	width: 100%;
}

.nav_left{
	display: inline-block;
	width: 45%;


}
.nav_left a{
	font-family: 'Poppins';
	font-size: 14px;
	color: #FFFFFF;
}
.nav_right {
  position: relative;
  display: inline-block;
  
}

.nav_li{
	display: inline-block;
	margin-right: 50px;
}
.nav_li:last-child{
	margin-right: 0;
}

.nav_link{
	font-family: 'Poppins';
	font-size: 12px;
	color: #FFFFFF;
}

.nav_link img{
	margin-left: 5px;
	vertical-align: middle;
}
.menu_dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100px;
  padding: 5px 5px;
  z-index: 1;
  font-family: 'Poppins';
  font-size: 10px;
}

.nav_li:hover .menu_dropdown{
	display: block;
}

.wrapper{
	position: relative;
}
header{
	width:100%;
	position: absolute;
	top:25px;
}
.background_info{
	width:100%;
	position:absolute;
	top:225px;


}

.background_title{
	width:60%;
	color: #FFFFFF;
	font-weight:800;
	font-family: 'Poppins';
	font-size: 62px;
}

.background_more_info{
	width:30%;
	color:#FFFFFF;
	font-family: 'Poppins';
	font-size:14px;
}

.sticky{
	position:sticky;
	bottom:70px;
	left:0;
	font-family: 'Poppins';
	font-size:20px;
	color:#FFFFFF;
	background-color: blue;

}

.arrows_block{
	width:100%;
	position:absolute;
	bottom:74px;
	right:0;
	
}

.arrows{
	position:absolute;
	bottom:0;
	right:0;
	font-size:0;
}

.arrow_item{
	position:relative;
	display:inline-block;
	width:50px;
	height:50px;
	background-color:#FFFFFF;
}

.arrow_item.active,
.arrow_item:hover{
			background-color:#5863F8;
}
.arrow_item img{
	position:absolute;
	width:14px;
	height:14px;
	top:18px;
	right:18px;
}


article{
	margin-top:70px;
}
.article_info{
	display:inline-block;
	vertical-align: top;
	padding-right:180px;
	width:50%;

	
}
.article_img{
	display:inline-block;
	
}
.article_title{
	margin-bottom:35px;
	font-family: 'Poppins';
	font-size:42px;
	color:#000000;
	line-height:56px;
}


.article_text{
	font-family: 'Poppins';
	font-size:16px;
	color:#000000;
	line-height:25px;
	margin-bottom:25px;
}
.article_text:last-child{
	margin-bottom:0px;
}

button{
	background-color:#5863F8;
	width:184px;
	height:50px;
	margin-top:35px;
	margin-left:10px;
	border-style: none;
}

button a{
	font-family: 'Poppins';
	font-size:14px;
	color:#FFFFFF;
}

button img{
	margin-left:5px;
	vertical-align:middle;
}
footer{

	margin-top:65px;
	padding-top: 55px;
	padding-bottom:35px;
	background-color:#121212;
}

.more_info span{
	font-family: 'Poppins';
	font-size:24px;
	color:#FFFFFF;
}

.more_info p{
 	font-family: 'Poppins';
 	font-size:14px;
	color:#B1B1B1;
	margin-top:26px;

}
.social{
	margin-top:60px;
}
.social_info{
	margin-right:20px;
	display:inline-block;
}
.social_info:last-child{
	margin-right:0px;
	
}
.other_information{
	margin-top:15px;
	font-family: 'Poppins';
	font-size:14px;
	color:#B1B1B1;
}
.other_information span{
	font-family: 'Poppins';
	font-size:14px;
	color:#5863F8;
	margin-left:2px;
}

